{% extends 'admin/base.admin.html.twig' %}

{% block body %}

<div class="h-full w-full flex items-center justify-center">

{{ form_start(category_form) }}

	<p class="text-gray-500">
	{{ form_label(category_form.title) }}
	</p>
	<div>
		{{ form_widget(category_form.title, { attr : {'class' : 'border border-gray-400 rounded-lg'}}) }}
	</div>
	<div class="mt-5 ">
		{{ form_widget(category_form.save, { attr : {'class' : 'p-2 px-3 bg-green-400 rounded-lg'}}) }}
	</div>

{{ form_end(category_form) }}

</div>
{% endblock %}